@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #FCFCFC !important;
  --purple: #6248C2 !important;
  --black: #071525 !important;
  --light-blue: #F1F3FA !important;
  --primary-color: #28315E !important;
  --secondary-color: #15B39F !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--black);
}

/* width */
::-webkit-scrollbar {
  transition: 300ms;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

main {
  min-height: 100vh;
}

.hover-link {
  transition: 0.3s;
  position: relative;
}

.hover-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hover-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}